.diet-pref {
    margin-top: 48px;
    margin-bottom: 45px;
  }
  
  .diet-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .diet-title {
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
  }
  
  .reset-text {
    font-size: 14px;
    color: #557f6f;
    cursor: pointer;
    font-weight: bold;
    transition: text-decoration 0.3s ease;
  }
  
  .reset-text:hover {
    text-decoration: underline;
  }
  
  .diet-selection {
    display: flex;
    justify-content: center;
  }
  
  .diet-icon {
    width: 80px;
    height: 80px;
    margin: 0 15px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .diet-icon.selected {
    opacity: 1;
  }
  
  .diet-icon:hover {
    opacity: 0.8;
  }
  
  .input-area {
    margin-top: 3px;
  }