.calculator {
  background-color: #608f7e;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.calculator-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.calculator-body {
  background-color: #dae8e3;
  padding: 15px;
}

.calculator-row {
  display: flex;
  justify-content: space-between;
}

.calculator-column {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.activity-button, .calculate-button {
  background-color: #608f7e;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender-button {
  background: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.input-group-1.active, .activity-button.active {
  background-color: #4a7062;
}

.input-group-1 {
  display: flex;
  align-items: center;
  background-color: #608f7e;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
}
.input-group-2 {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
}

.input-group-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.input-group-1 label,
.input-group-1 span {
  flex: 1;
  text-align: left;
}
.input-group-2 label{
  color: #4a7062;
  font-weight: bolder;
}

.input-group-1 span {
  text-align: right;
}

.input-group-1 input {
  flex: 2;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

/* Remove arrows in Chrome, Safari, and Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Optional: For finer control over the step, add step attribute */
input[type=number] {
  step: 0.01; /* Allows fractional input */
}

.input-group-1 input {
  background: none;
  border: none;
  color: white;
  text-align: center;
  width: 50px;
  margin: 0 10px;
}

.activity-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activity-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.activity-button {
  width: 100%;
  height: 40px;
  padding-inline: 30px;
}

.calculate-button {
  width: 100%;
  margin-top: 10px;
  background-color: #4a7062;
  height: 40px;
}

.calculator.open {
  height: auto;
}

.calculator:not(.open) {
  height: 40px;
}
