.result {
    background-color: #608f7e;
    border-top-left-radius: 20px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
    position: fixed;
    right:0px;
    bottom:0px;
    width: 20%;
    max-height: 50px;
    transition: max-height 0.6s ease-in-out;
  }
  
  .result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
  }
  .result-header span{
    padding-right: 20px;
  }
  
  .result-toggle-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .result-body {
    background-color: #dae8e3;
    border-left: 3px solid #608f7e;;
    padding: 15px;
  }
  
  .result.open {
    max-height: 500px;
  }
  